USE [master]
GO
/****** Object:  Database [ENTIDAD_BANCO]    Script Date: 6/22/2016 2:01:56 PM ******/
CREATE DATABASE [ENTIDAD_BANCO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ENTIDAD_BANCO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER2\MSSQL\DATA\ENTIDAD_BANCO.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ENTIDAD_BANCO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER2\MSSQL\DATA\ENTIDAD_BANCO_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ENTIDAD_BANCO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ENTIDAD_BANCO]
GO
/****** Object:  Table [dbo].[BITACORA_BANCO]    Script Date: 6/22/2016 2:01:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA_BANCO](
	[idBitacora] [int] IDENTITY(1,1) NOT NULL,
	[tramaEnviada] [nchar](500) NULL,
	[tramaRecivida] [nchar](500) NULL,
	[numTransaccion] [int] NULL,
	[detalle] [nchar](150) NULL,
 CONSTRAINT [PK_BITACORA_BANCO] PRIMARY KEY CLUSTERED 
(
	[idBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 6/22/2016 2:01:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[idCuenta] [int] IDENTITY(1,1) NOT NULL,
	[tipoCuenta] [int] NULL,
	[numCuenta] [nchar](10) NULL,
	[saldo] [decimal](18, 2) NULL,
	[idUsuario] [int] NULL,
 CONSTRAINT [PK_CUENTA] PRIMARY KEY CLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 6/22/2016 2:01:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[idPago] [int] IDENTITY(1,1) NOT NULL,
	[cuentaOrigen] [int] NULL,
	[cuentaDestino] [int] NULL,
	[monto] [decimal](18, 2) NULL,
	[formulario] [nchar](50) NULL,
	[tipoFormulario] [int] NULL,
 CONSTRAINT [PK_PAGO] PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TARJETA]    Script Date: 6/22/2016 2:01:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETA](
	[idTarjeta] [int] IDENTITY(1,1) NOT NULL,
	[numTarjeta] [nchar](50) NULL,
	[tipoTarjeta] [int] NULL,
	[idCuenta] [int] NOT NULL,
 CONSTRAINT [PK_TARJETA] PRIMARY KEY CLUSTERED 
(
	[idTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 6/22/2016 2:01:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[primerNombre] [nchar](50) NULL,
	[segundoNombre] [nchar](50) NULL,
	[primerApellido] [nchar](50) NULL,
	[segundoApellido] [nchar](50) NULL,
	[direccion] [nchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[telefono] [nchar](10) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CUENTA] ON 

INSERT [dbo].[CUENTA] ([idCuenta], [tipoCuenta], [numCuenta], [saldo], [idUsuario]) VALUES (1, 1, N'103005028 ', CAST(300.00 AS Decimal(18, 2)), 3)
INSERT [dbo].[CUENTA] ([idCuenta], [tipoCuenta], [numCuenta], [saldo], [idUsuario]) VALUES (2, 1, N'50281030  ', CAST(500.00 AS Decimal(18, 2)), 5)
SET IDENTITY_INSERT [dbo].[CUENTA] OFF
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([idUsuario], [primerNombre], [segundoNombre], [primerApellido], [segundoApellido], [direccion], [fechaNacimiento], [telefono]) VALUES (3, N'Dennis                                            ', N'Ariel                                             ', N'Ordoñez                                           ', N'Per                                               ', N'Ciudad                                            ', CAST(0x883B0B00 AS Date), N'54875698  ')
INSERT [dbo].[USUARIO] ([idUsuario], [primerNombre], [segundoNombre], [primerApellido], [segundoApellido], [direccion], [fechaNacimiento], [telefono]) VALUES (5, N'Pablo                                             ', N'Ali                                               ', N'Gonzales                                          ', N'Oliva                                             ', N'Ciudad                                            ', CAST(0x22170B00 AS Date), N'54875698  ')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_CUENTA_USUARIO] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [FK_CUENTA_USUARIO]
GO
ALTER TABLE [dbo].[TARJETA]  WITH CHECK ADD  CONSTRAINT [FK_TARJETA_CUENTA] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[CUENTA] ([idCuenta])
GO
ALTER TABLE [dbo].[TARJETA] CHECK CONSTRAINT [FK_TARJETA_CUENTA]
GO
USE [master]
GO
